/*Editor style*/

#editor {	
	height: 250px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: auto;
	outline: none;
}
#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}

/*End of editor style*/

.layout{
  height:40px;
  background-color: #234;
}
body{
  overflow: hidden;
  margin-bottom:40px;
}
#mainHeader{
  box-shadow: 5px 5px 10px #888888;
  color:#fff;
}

#mainHeader a{
   /*text-decoration: none !important;*/
   color:#ddd;
}

#mainHeader .row{
  margin-top: 10px;  
}
.headerAlert a{
  color: #000 !important;
}  
.headerAlert{
  margin-top: -10px !important;
  margin-bottom:0px;
  padding: 10px;  
  display: none;
}

#mainContent{
  margin-top: 20px;
  overflow: auto;
}
#mainFooter{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  color:#ddd;
}
#mainFooter div{
  margin-top: 10px;  
}


.menu-item{
  display: block;
  text-decoration: none;
  text-transform: none;
}

.noteListItem {
    width: 150px;
    /* height: 40px; */
    outline: 1px solid #888;
    margin: 5px;
    list-style-type: none;
    padding: 5px;
    float: left;
}

.noteCtrl{
  
}

#optionContent{
  border-right: 1px solid #aaa;
  }

.noteInfo{
  font-size: 11px;
}

.deleteNote{
  cursor: pointer;  
}

#noteName #notetitle{
  font-size: 24px;  
  border:none;
  /*padding: 2px;*/
  margin-top: 2px;
  width: 100%;
}  
#noteName #notetitle:focus, #notetitle:hover{  
  outline:1px solid #bbb;
}  

