<div class="container-fluid">
	<div class="row">		
		<div class="col-md-12">
		 	<% if(window.app.currentState == 'note' || window.app.currentState == 'noteboard' ||  window.app.currentState == 'noteread' ) { %>
				<% if(app.token) { %>				
					<div class="col-md-2 col-md-offset-1">				
						<a href="#home">Home</a> | 				
						<a href="#noteboard">Noteboard</a>
					</div>			
					<div class="col-md-5">
						<div class="alert headerAlert">
					        <a href="javascript:;" class="headerAlertClose close" onClick="$('.headerAlert').finish().slideUp()">&times;</a>
					        <!--<strong>Warning!</strong>-->
					        <span> There was a problem with your network connection. </span>
					    </div>
					</div>
			    	<div class="col-md-2 col-md-offset-2"><a href="#signOut">Sign Out</a></div>		    
		    	<% }else{ %>
		    		<div class="col-md-1 col-md-offset-11"><a href="#signIn">Sign In</a></div>		    
		    	<% } %>
		    <% } else if(window.app.currentState == 'home') { %>				
		    	<% if(app.token) { %>				
		    		<div class="col-md-1 col-md-offset-1">											
						<a href="#noteboard">Noteboard</a>
					</div>			
					<div class="col-md-6">
						<div class="alert headerAlert">
					        <a href="javascript:;" class="headerAlertClose close" onClick="$('.headerAlert').finish().slideUp()">&times;</a>
					        <!--<strong>Warning!</strong>-->
					        <span> There was a problem with your network connection. </span>
					    </div>
					</div>
					<div class="col-md-1 col-md-offset-2"><a href="#signOut">Sign out</a></div>		    						
				<% }else{ %>
		    		<div class="col-md-1 col-md-offset-11"><a href="#signIn">Sign In</a></div>		    
		    	<% } %>
		    <% } else { %>
		    		<div class="col-md-offset-3 col-md-6">
						<div class="alert headerAlert">
					        <a href="javascript:;" class="headerAlertClose close" onClick="$('.headerAlert').finish().slideUp()">&times;</a>
					        <!--<strong>Warning!</strong>-->
					        <span> There was a problem with your network connection. </span>
					    </div>
					</div>
		    <% } %>
	    </div>
	</div>
</div>